<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        
        <rule name="StaticPublic" stopProcessing="true">
          <match url="^public/(.*)" />
          <action type="Rewrite" url="public/{R:1}" />
        </rule>

       
        <rule name="NextStatic" stopProcessing="true">
          <match url="^\._next/(.*)" />
          <action type="Rewrite" url=".next/{R:1}" />
        </rule>

       
        <rule name="DynamicContent">
          <match url="/*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <iisnode
      node_env="production"
      nodeProcessCommandLine="node"
      loggingEnabled="true"
      logDirectory="iisnode"
      debuggingEnabled="false"
    />

    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment=".next" />
          <add segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>